.product-card {
  display: flex;
  width: 100%;
  max-width: 300px;
  background-color: white;
  flex-direction: column;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  border-radius: 3px;
}

.card__image {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.card__infos {
  padding: 20px;
  border-top: 1px solid #ddd;
}

.card__price {
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 100;
}

.car-tittle {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  font-weight: 500;
}

.button__add-cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 12px 15px;
  color: #3971e0;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 15px;
  background-color: rgba(27, 38, 49, 0.5);
  font-size: 1.5rem;
  cursor: pointer;
}

.button__favorite-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 12px 15px;
  color: #e74c3c;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 15px;
  background-color: rgba(27, 38, 49, 0.5);
  font-size: 1.5rem;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.product-card:hover .button__add-cart,
.product-card:hover .button__favorite-item {
  display: flex;
}
